$top-nav-height: 50px;
$sidebar-width: 225px;

.app {
  &__top-nav {
    position: fixed;
    height: $top-nav-height;
    z-index: 999;
    width: 100%;
  }
  &__sidebar {
    position: fixed;
    top: $top-nav-height;
    height: 100%;
    width: $sidebar-width;
  }
  &__search-view {
    position: absolute;
    top: $top-nav-height;
    left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    overflow-y: scroll;
  }
}