$sidebar-width: 225px;
$sign-up-width: 225px;
$padding: 20px;

.top-nav {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  background-color: white;
  &__logo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: $sidebar-width/2;
    font-size: 25px;
    letter-spacing: -1px;
  }
  &__search {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    left: $sidebar-width;
    width: calc(100% - (#{$sidebar-width} + 2*#{$padding} + #{$sign-up-width}));
    padding: 0 $padding;
  }
  &__sign-up {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: fit-content;
    height: fit-content;
    padding: 0 10px;
    &__button {
      display: inline-block;
      padding: 0 5px;
    }
  }
}