@import 'app/App.scss';
@import 'item/Item.scss';
@import 'loader/Loader.scss';
@import 'search-bar/SearchBar.scss';
@import 'search-view/SearchView.scss';
@import 'sidebar/Sidebar.scss';
@import 'top-nav/TopNav.scss';


* {
  font-family: 'Arapey';
  color: #444444;
  user-select: none;
}

body {
  margin: 0;
}
