@import 'app/App.scss';
@import 'top-nav/TopNav.scss';
@import 'search-view/SearchView.scss';
@import 'sidebar/Sidebar.scss';
@import 'item/Item.scss';


* {
  font-family: 'Arapey';
  color: #444444;
}

body {
  margin: 0;
}
